extends studies

block content 
    header
    h1 CHEMISTRY STUDY
    section
    p 1. What is chemistry?
    p 2. Applications of chemistry
    p 3. Importances of chemistry
    p 4. Drawbacks of chemistry
