extends studies 

block content
    header
    h1 MATHEMATICS STUDY 
    section
    p 1. What is mathematics?
    p 2. Applications of mathematics
    p 3. Importances of mathematics
    p 4. Drawbacks of mathematics
