extends studieslayout 

block content 
  header
  h1 WELCOME TO THE MATERIALS
  section
    // Your page content goes here
  p Navigate to the above navigations to learn different available materials
